# будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

# будут игнорироваться все файлы и каталоги .DS_Store
.DS_Store

# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
tmp/

# будут игнорироваться все файлы, заканчивающиеся суффиксом _old
# вне зависимости от того, в каком каталоге он находятся
*_old

# будут игнорироваться все файлы, заканчивающиеся суффиксом _old
# вне зависимости от того, в каком каталоге он находятся
*_backup
